# Gitignore Ver 1.0.1
# Este archivo fue personalizado para sistemas desarrollados en Prestashop 1.5 y 1.6
#
# @author Niubiz
# @mail integraciones.niubiz@necomplus.com
# @github https://github.com/IntegracionesVisaNet


# Directories
.sass-cache

# Files
config_*
config.xml

# Extensions
*.css.map

.DS_Store
logs/index.php!
logs/*

img/*
img/options_cards.png!
img/index.php!
vendor
