<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>whatsapp</name>
	<displayName><![CDATA[Whatsapp Chat]]></displayName>
	<version><![CDATA[2.0.0]]></version>
	<description><![CDATA[Add your number to whatsapp]]></description>
	<author><![CDATA[fyazilim.com]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>